@font-face {
    font-family: Futura Bk BT;
    src: url("/public/futura_bk_bt/FutuBk.ttf");
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body{
    background: #5031a9;
  }

 
  .heroSec{
    padding-top: 12rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  .hero-img {
    width: 50%;
    align-self: flex-end;
    position: absolute;
    right: 0;
    bottom: -23%;

  }
  .hero-img img{
    width: 50rem;
  }
  .hero-cont{
    white-space: nowrap;
    margin-left: 9.5vw;
    padding-bottom: 16vh;
  }
  
  .HeroTxt {
    width: 100%;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px;
    margin-top: 2%;
  }
  .HeroTxt span {
    color: #FFEBA5;
    position: absolute;
    margin-left: 15px;
  }
  
  .heroSec h3 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-top: 5%;
    line-height: 27px;
  }
 
.get-Started {
  margin-top: 10%;
  display: flex;
  gap: 1.5%;
}
 
.get-Started button {
  justify-content: center;
  align-items: center;
  background:  #FD3559;
  border: none;
  color: #FFF;
  font-family: 'Poppins', sans-serif;;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 2px;
  line-height: normal;
  cursor: pointer;
}
.seeOurProject-button1{
  padding: 1rem 3.4rem;
}
.seeOurProject {
  border-radius: 2px;
  border: 1px solid #FFF !important;
  background: #ffffff00 !important;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 1220px){
  .HeroTxt{
    font-size: 3rem;
  }
  .heroSec h3{
    font-size: .9rem;
  }
  .hero-cont{
    margin-left: 8vw;
  }
  .hero-img {
    width: 50%;
    align-self: flex-end;
    position: absolute;
    right: 40px;
    bottom: -23%;

  }
  .hero-img img{
    width: 43rem;

  }
  .hero-cont{
    padding-bottom: 10vh;
  }
}
@media only screen and (max-width: 721px){
  .HeroTxt{
    font-size: 2.7rem;
  }
  .heroSec h3{
    font-size: .7rem;
  }
  .hero-cont{
    margin-left: 5vw;
  }
  .hero-img img{
    width: 35rem;

  }
  .hero-cont{
    padding-bottom: 8vh;
  }
  .heroSec{
    padding-top: 10rem;
  }

  /* button */
  .get-Started button {
    font-size: .8rem;

  }
  .seeOurProject-button1{
    padding: .7rem 2.8rem;
  }
  .seeOurProject {
    padding: .7rem 1rem;
  }
  .heroSec h3 {
    line-height: 17px;
  }
}
@media only screen and (max-width: 550px){
  .HeroTxt span {
    color: #FFEBA5;
    position: relative;
    margin-left: 0px;
  }
  .seeOurProject {
    padding: .7rem 9rem;
  }

  .heroSec{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hero-cont{
    margin-left: 0px;
    align-self: center;
    text-align-last: center;
    padding: 0%;
    margin-top: 1rem;
  }
  .get-Started {
    flex-direction: column-reverse;
  }
  .hero-img {
    width: 100%;
    align-self: flex-end;
    position: relative;
    text-align: center;
    right: 0;
    z-index: -10;

  }
  .hero-img img {
    width: 33rem;
  }
  .heroSec h3{
    font-size: 1.2rem;
    line-height: 20px;
  }
  
  .get-Started button {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .seeOurProject{
    margin-bottom:1rem ;
  }
}
@media only screen and (max-width: 376px){
  .hero-img img {
    width: 28rem;
  }
}