.ClientTalk {
    margin-top: 7.2rem;
    width: 100%;
    background: linear-gradient(270deg, #FFC040 0.12%, #EB8D00 99.91%);
}
.rect {
    position: relative;
    top:0px;
    width: 15vw;
    margin-left:  5%; 
    background: #CA6D00;
    padding-bottom: .1%;
}
.ClientTalk .rect h3{
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .2vw;
    text-transform: uppercase;
    padding-top: 30%;
    margin-left: 32.3%;
    white-space:nowrap;
    
}
.ClientTalk .rect h1{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 99.971%; /* 61.982px */
    white-space:nowrap;
    margin-top: 5%;
    margin-left: 32.3%;
}
.ClientTalk p {
    color: #FFF;
    max-width: 50%;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 147.2%; /* 47.104px */
    margin-left: 40%;
    margin-top: 10%;
}
.ClientTalk h4 {
    margin: 0%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 147.2%; /* 41.216px */
    margin-left: 10%;
    margin-top: 5%;
    /* padding-bottom: 5%; */
}
.ClientTalk h4 span {
    opacity: 0.9;
    color: #FFF;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 147.2%;
}
.author-pagi{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
}
/* Pagination container */
.clints-pagination {
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
    margin-right: 10%;
  }
  
  /* Pagination dot style */
  .clints-pagi {
    width: .8rem;
    height: .8rem;
    background-color: #ffffff; /* Default dot color */
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Animation transition */
  }
  
  /* Active pagination dot style */
  .clint-active {
    background-color: #FF005C; /* Active dot color (red) */
    animation: pulse 1s infinite alternate; /* Animation effect */
  }
  
  /* Animation effect */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  @media only screen and (max-width: 550px){
    .ourAds{
        height: 58vw;
    }
  }

@media only screen and (max-width: 425px) {
    .rect {
        width: 30%;
        /* margin-left: 2.5rem; */
    }
    .ClientTalk p {
        /* 47.104px */
        margin-left: 2.5rem;
        margin-top: 10%;
        max-width: 75%;
        margin-top: 20%;
    }
    
    .ClientTalk .rect h3 {
        font-size: 1.2rem;
        margin-left: 9px;
    }
    .ClientTalk .rect h1 {
        font-size: 2.5rem;
        margin-left: 9px;
        
    }
    .ClientTalk h4{
        margin-top: 20% ;
        margin-left: 2.5rem;
    }
    .clints-pagination{
        margin-top: 25% ;
    }
}